# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build / cache
dist/
build/
.cache/
*.tsbuildinfo

# Optional
coverage/
.nyc_output/
